<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title> This is the static image html page.</title>
        <!-- <link rel="stylesheet" href="{% static "css/mystyle.css" %}">  -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
            <h3>Welcome!!!!</h3>
            <br>
            <p>Go to /users to sign up.</p>
            <br>
            <img src='{% static "images/images.jpeg" %}' alt="Uh ohh ! Didn't show image..">
        </div>
        </div>
    </body>
</html>